.header {
  background-color: #5a5a5a;
  /* text-align: center; */
  /* padding: 80px; */
  height: 150px;
  margin-bottom: 1px;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  position: fixed;
}

.bottom {
  height: 25px;
  width: 100%;
  background-color: #2f2f2f;
  position: fixed;
  bottom: 0
}

.bottom:after {
  content: "";
  display: table;
  clear: both;
}

.bottomLeftItem {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  float: left;
  text-align: center;
  position: relative;
  user-select: none;
  margin-left: 5px;
  margin-right: 5px;
}

.bottomRightItem {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  float: right;
  text-align: center;
  position: relative;
  user-select: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.objectColumn {
  float: left;
  width: 100%;
  height: 150px;
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  left: 0px;
}

.frameColumn {
  width: 100%;
  height: 150px;
  float: left;
  background-color: #292828;
  overflow-x: scroll;
  overflow-y: visible;
  position: fixed;
  left: 100px;
}

.obj {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #5a5a5a;
  position: fixed;
  overflow-y: scroll;
  top: 152px;
  bottom: 21px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.canvas {
  overflow-x: scroll;
  overflow-y: scroll;
  top: 152px;
  bottom: 21px;
  left: 300px;
  float: left;
  height: 100%;
  right: 200px;
  position: fixed;
}

.pub {
  float: right;
  width: 200px;
  height: 100%;
  background-color: #5a5a5a;
  position: fixed;
  overflow-y: scroll;
  top: 152px;
  right: 0px;
  bottom: 21px;
}
